<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GBML_Model.Properties.Settings.ConnectionProd" connectionString="DATA SOURCE=PROD;PASSWORD=ipslmp7097;PERSIST SECURITY INFO=True;USER ID=IPS_LMP" />
        <add name="GBML_Model.Properties.Settings.ConnectionPreprod"
            connectionString="DATA SOURCE=PREPROD;PASSWORD=preappspreprod;PERSIST SECURITY INFO=True;USER ID=APPS" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
</configuration>
